/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.panel-body{
    color: #141212;
}

.bs-callout-info {
    border-left-color: #1b809e !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 25px;
    border-radius: 3px;
}

.navbar-default {
    background-color: #1b809e;
    color: #f2f2f2 !important;
}

.navbar-brand {
    color: #f2f2f2 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #f2f2f2 !important;
}

.navbar-default .navbar-text {
    color: #f2f2f2 !important;
}

hr {
    border-top-color: #1b809e;
    border-top-width: 3px;
    margin-top: unset;
}

.thumbnail{
    background-color: transparent !important;
}

.caption{
    color: #f2f2f2 !important;
}