<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://turtlebarrel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>turtlebarrel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TurtleBarrel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TurtleBarrel</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JanuszMarcinikConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=turtlebarrel.database.windows.net;Initial Catalog=TurtleBarrel;User ID=januszmarcinik;Password=JAma94ikSZ" Name="Data Source=turtlebarrel.database.windows.net;Initial Catalog=TurtleBarrel;User ID=januszmarcinik;Password=JAma94ikSZ;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JanuszMarcinik.Mvc.Domain.Data.ApplicationDbContext, JanuszMarcinik.Mvc.Domain" MigrationConfiguration="JanuszMarcinik.Mvc.Domain.Migrations.Configuration, JanuszMarcinik.Mvc.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="JanuszMarcinikConnection-Web.config Connection String">
      <ParameterValue>Data Source=turtlebarrel.database.windows.net;Initial Catalog=TurtleBarrel;User ID=januszmarcinik;Password=JAma94ikSZ;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="JanuszMarcinikConnection-Web.config Connection String">
      <ParameterValue>Data Source=turtlebarrel.database.windows.net;Initial Catalog=TurtleBarrel;User ID=januszmarcinik;Password=JAma94ikSZ;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="JanuszMarcinikConnection-Web.config Connection String">
      <ParameterValue>Data Source=turtlebarrel.database.windows.net;Initial Catalog=TurtleBarrel;User ID=januszmarcinik;Password=JAma94ikSZ;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="JanuszMarcinikConnection-Web.config Connection String">
      <ParameterValue>data source=turtlebarrel.database.windows.net;initial catalog=TurtleBarrel;user id=januszmarcinik;password=JAma94ikSZ;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>