@using JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.TimeCounters
@model IEnumerable<TimeCounterViewModel>

@{
    ViewBag.Title = "Odliczamy czas";
}

<div class="row">
    <h3>
        <span>Powrót Martusi do Januszka</span>
        <span class="pull-right">2017-12-17 12:00</span>
    </h3>
    <hr />

    <div class="bs-callout bs-callout-info text-center" style="font-size: xx-large">
        <div class="row">
            <div class="col-xs-3" id="martaArrivalDays"></div>
            <div class="col-xs-3" id="martaArrivalHours"></div>
            <div class="col-xs-3" id="martaArrivalMinutes"></div>
            <div class="col-xs-3" id="martaArrivalSeconds"></div>
        </div>
        <div class="row">
            <div class="col-xs-3">dni</div>
            <div class="col-xs-3">godziny</div>
            <div class="col-xs-3">minuty</div>
            <div class="col-xs-3">sekundy</div>
        </div>
    </div>

</div>

<div class="row">
    <h3>
        <span>@Model.Title</span>
        <span class="pull-right">@Model.Date.ToString("yyyy-MM-dd HH:mm")</span>
    </h3>
    <hr />

    <div class="bs-callout bs-callout-info text-center" style="font-size: xx-large">
        <div class="row">
            <div class="col-xs-3" id="januszArrivalDays"></div>
            <div class="col-xs-3" id="januszArrivalHours"></div>
            <div class="col-xs-3" id="januszArrivalMinutes"></div>
            <div class="col-xs-3" id="januszArrivalSeconds"></div>
        </div>
        <div class="row">
            <div class="col-xs-3">dni</div>
            <div class="col-xs-3">godziny</div>
            <div class="col-xs-3">minuty</div>
            <div class="col-xs-3">sekundy</div>
        </div>
    </div>

</div>

<script type="text/javascript">

    var martaArrivalDate = new Date(2017, 11, 17, 12, 0).getTime();
    @*var januszArrivalDate = "@Model.GetMiliseconds()";
    alert(januszArrivalDate);*@

    setInterval(function () {

        var now = new Date().getTime();
        var days = 0;
        var hours = 0;
        var minutes = 0;
        var seconds = 0;
        var distance = 0;

        // Marta Arrival
        distance = martaArrivalDate - now;

        $("#martaArrivalDays").html(Math.floor(distance / (1000 * 60 * 60 * 24)));
        $("#martaArrivalHours").html(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
        $("#martaArrivalMinutes").html(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
        $("#martaArrivalSeconds").html(Math.floor((distance % (1000 * 60)) / 1000));

        //document.getElementById("martaArrival").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";

        // Janusz Arrival
        distance = "@Model.Miliseconds" - now;

        $("#januszArrivalDays").html(Math.floor(distance / (1000 * 60 * 60 * 24)));
        $("#januszArrivalHours").html(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
        $("#januszArrivalMinutes").html(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
        $("#januszArrivalSeconds").html(Math.floor((distance % (1000 * 60)) / 1000));

    }, 1000);

</script>