@{
    ViewBag.Title = "Panel konfiguracyjny";
}

<h2 class="center-block">
    <span class="label label-info center-block">@ViewBag.Title</span>
</h2>

<div class="list-group">
    @if (User.IsInRole("Moderator"))
    {
        @Html.Bootstrap().ListGroupItem("Ankiety, pytania i odpowiedzi", MVC.Admin.Questionnaires.List()).PrependIcon(FontAwesome.clipboard)
        @Html.Bootstrap().ListGroupItem("Słowniki", MVC.Admin.Dictionaries.List()).PrependIcon(FontAwesome.th_list)
    }
</div>