@{
    ViewBag.Title = "Panel konfiguracyjny";
}

<h2 class="center-block">
    <span class="label label-info center-block">@ViewBag.Title</span>
</h2>

<div class="list-group">
    @if (User.IsInRole("Moderator"))
    {
        @Html.Bootstrap().ListGroupItem("Wpisy, zdjęcia", MVC.Admin.Notes.List()).PrependIcon(FontAwesome.comments_o)
        @Html.Bootstrap().ListGroupItem("Odliczania", MVC.Admin.TimeCounters.List()).PrependIcon(FontAwesome.clock_o)
    }
</div>